/* =============================================
共通のcss
============================================= */
body {
    background:url("img_data/back.jpg") ;
	background-attachment:fixed;
	line-height: 1.6;
	box-sizing: border-box;
}

.page {
	width: 1000px;
	margin: 0 auto;
	color: #fff;
}

/* =============================================
ヘッダー
============================================= */
#header{
   text-align:right;
	/* background-color:#ABA3c2; */
	background: rgba(256,256,256,.7);
	padding: .5em 0;
	/* margin-bottom: 1.5em; */
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index:10;
}

#header .inner {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

#header .inner h1{
	float: left;
	width: 350px;
	color: #fff;
	letter-spacing: 0.25em;
	font-size: 23px;
    text-shadow:  1px 1px 0px blue, 3px 1px 0px blue;
}

#header .inner h1:before {
	content:"";
	width: 32px;
	height: 32px;
	display: inline-block;
	background: url("img_data/ic_star.png");
	margin-right: .5em;
	vertical-align: middle;
}


/* =============================================
コンテンツ内容
============================================= */
.page{
	margin-top: 7em;
}

.page .setumei{
	width: 600px;
	margin: 0 auto 0 auto;
	padding: 1em;
	opacity: 0.8;
    border: 1px solid #000;
    background-color: #A3A3F5;
	color: black;
	font-size: 20px;
}

.tyu_i{
	width: 500px;
	text-align: center;
	margin: 1em auto 0 auto;
	font-size: 18px;
}

.tyu_i div{
	
}

.tyu_i span{
	color: yellow;
}


.sentaku{
	margin-top: 1em;
	text-align: center;
	font-size: 30px
}

.sentaku form p{
	width: 550px;
	margin: 0 5em 0 7em;
}

.sentaku select{
	font-size: 25px;
	height: 30px;
	width: 80px;
	text-align: center;
	border-radius : 10%;
}

select .s_s{
	width: 80px;
	border-radius : 10%;
}

.btn {
  display       : inline-block;
  border-radius : 10%;          /* 角丸       */
  font-size     : 21pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 8px 90px;   /* 余白       */
  background    : #cccccc;     /* 背景色     */
  color         : #6666ff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 4px 4px 9px #666666;  /* 影の設定 */
  margin-top: 1em;
}
.btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
}

h2 {
	opacity: 0.7;
    width: 300px;
	margin: 2em auto 0 auto;
    color: #fff;
	text-align: center;
	font-size: 36px;
}

.kaisetu{
	display: flex;
	justify-content: space-between;
	width: 900px;
	margin: 0 auto;
}

.box_list li{
	list-style-type: square;
	margin-top: 2em;
}

.box_list ul li span.st{
	display:block;
	color: #A3A3F5;
	font-size: 23px;
	margin-bottom: .3em;
}

.box_img .img{
	width: 300px;
	height: 300px;
}

.sankou{
	font-size: 20px;
	text-align: center;
	margin: 2em auto 5em auto;
}

.sankou p{
	margin-top: 20px;
}

.sankou p a{
	color: #B384FF;
}

a:visited{
  color: inherit;
}

